<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-4.3.xsd
						   http://www.springframework.org/schema/aop
						   http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
						   http://www.springframework.org/schema/mvc
						   http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
	   default-lazy-init="false">

	<!-- 配置注解扫描的包路径 -->
	<context:component-scan base-package="com.chinawiserv.dsp.dcm.*" >
	</context:component-scan>

	<!-- 开启aop，对类代理 -->
	<aop:config proxy-target-class="true" />
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<context:property-placeholder location="classpath:/conf/*.properties" />

	<!-- 开启spring mvc的注解 -->
	<mvc:annotation-driven />

	<!-- freemarker的配置 -->
	<!--<bean id="freemarkerConfig"-->
		  <!--class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
		<!--<property name="templateLoaderPath" value="/WEB-INF/views/" />-->
		<!--<property name="defaultEncoding" value="utf-8" />-->
		<!--<property name="freemarkerSettings">-->
			<!--<props>-->
				<!--<prop key="template_update_delay">10</prop>-->
				<!--<prop key="locale">zh_CN</prop>-->
				<!--<prop key="datetime_format">yyyy-MM-dd</prop>-->
				<!--<prop key="date_format">yyyy-MM-dd</prop>-->
				<!--<prop key="number_format">#.##</prop>-->
			<!--</props>-->
		<!--</property>-->
	<!--</bean>-->

	<!--&lt;!&ndash;视图解析器 &ndash;&gt;-->
	<!--<bean id="viewResolver"-->
		  <!--class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
		<!--<property name="viewClass"-->
				  <!--value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"></property>-->
		<!--<property name="suffix" value=".html" />-->
		<!--<property name="contentType" value="text/html;charset=utf-8" />-->
		<!--<property name="exposeRequestAttributes" value="true" />-->
		<!--<property name="exposeSessionAttributes" value="true" />-->
		<!--<property name="exposeSpringMacroHelpers" value="true" />-->
		<!--<property name="order" value="1" />-->
	<!--</bean>-->

	<bean id="defaultViewResolver"
		  class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		  >
		<property name="viewClass"
				  value="org.springframework.web.servlet.view.JstlView" />
		<property name="contentType" value="text/html" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 资源映射 -->
	<mvc:resources location="/WEB-INF/static/app/" mapping="/app/**" />
	<mvc:resources location="/WEB-INF/static/js/" mapping="/js/**" />
	<mvc:resources location="/WEB-INF/static/images/" mapping="/images/**" />
	<mvc:resources location="/WEB-INF/static/plugins/"
				   mapping="/plugins/**" />

	<!-- 定义文件上传解析器 -->
	<bean id="multipartResolver"
		  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>

	<mvc:annotation-driven>
		<!-- 编码转换 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 拦截器 -->
	<mvc:interceptors>

		<!-- 登录拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.chinawiserv.dsp.dcm.interceptor.LoginInterceptor" />
		</mvc:interceptor>

		<!-- 权限拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.chinawiserv.dsp.dcm.interceptor.PermissionInterceptor">
				<property name="permissionService" ref="permissionServiceImpl"></property>
			</bean>
		</mvc:interceptor>

	</mvc:interceptors>

	<!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>-->

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource_dcm" />
	</bean>
	<!-- 通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 把名称为 find、statistic、query 开头的方法配置为只读事物 -->
			<tx:method name="find*"       no-rollback-for="Exception"  read-only="true"  isolation="READ_COMMITTED" propagation="REQUIRED"/>
			<tx:method name="select*"       no-rollback-for="Exception"  read-only="true"  isolation="READ_COMMITTED" propagation="REQUIRED"/>
			<tx:method name="get*"       no-rollback-for="Exception"  read-only="true"  isolation="READ_COMMITTED" propagation="REQUIRED"/>
			<tx:method name="statistic*"  no-rollback-for="Exception"  read-only="true"  isolation="READ_COMMITTED" propagation="REQUIRED"/>
			<tx:method name="query*"      no-rollback-for="Exception"  read-only="true"  isolation="READ_COMMITTED" propagation="REQUIRED"/>

			<!-- 把名称为除 find、statistic、query 开头的方法以外的所有方法配置为读写事物 -->
			<tx:method name="*" rollback-for="Throwable" read-only="false" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	<!-- 切面 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice"
					 pointcut="execution(* com.chinawiserv.dsp.dcm.service.impl.*.*(..))" />
	</aop:config>

</beans>